<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GolfCard1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>824C1C7B207A8E2800C14FDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>824C1C8F207A8E2800C14FDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>824C1C9A207A8E2800C14FDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
